<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Активные пользователи</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="py-5 text-center">
    <form action="/content_page" method="get">
      <h4><b>Введите колличество последних постов</b></h4>
      <br>
      <label>
        <input class="form-control" type="text" name="count_post" id="count_post" placeholder="Кол-во постов" required>
        <input type="submit" id="singUp" value="Далее" class="btn btn-dark mt-4">
      </label>
    </form>
  </div>
</div>


</body>
</html>